:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Helvetica, sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel {
  position: absolute;
  inset: 0;
  min-height: 120vh;
  will-change: transform;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.nav-list li {
  cursor: pointer;
}

.nav-list li i {
  transition: all ease-out 250ms;
  transform: rotate(45deg) scale(0) translateY(20px);
  font-size: 10px;
}
.nav-list li:hover i {
  transform: rotate(45deg) scale(1) translateY(0);
  transform-origin: bottom;
}

.nav-list li:hover {
  color: #cdf462;
}

.one {
  background-color: #041c3b;
  min-height: 150vh;
}

.two {
  background-color: #f3f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  min-height: 600vh;
}

.four {
  background-color: #2d7964;
  display: flex;
  align-items: center;
  justify-content: center;
}

.five {
  background-color: #cfb7f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.six {
  background-color: #f3f6fa;
  display: flex;
  align-items: center;
  justify-content: end;
}

.read-more:hover {
  transform: rotate(30deg);
}
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.overlay {
}
.overlay-text {
  scale: 0;
}

.project-card:hover .overlay {
  opacity: 1;
}
.project-card:hover .overlay-text {
  scale: 1;
}

.project-card:hover .image-container {
  transform: rotate(2deg);
  transform-origin: left;
}

.blog-content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  place-items: center;
  /* border: 1px solid red; */
  row-gap: 2rem;
}
